#height_ft,
#height_in {
  width: 40% !important;
}

#weight_lb {
  width: 84% !important;
}

.bmi-bb-title {
  font-weight: bold;
  color: #406FBF;
}

.hide-message {
  display: none;
}

.show-message {
  display: block;
  text-align: center;
}

#bmi-bb-widget-result {
  font-weight: bold;
  color: #406FBF;
}

#bmi-bb-widget-error {
  color: red;
  font-weight: bolder;
}

.border-error {
  border-color: red !important;
}

.container.container-bmi-bb-widget {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.row.row-bmi-bb-widget {
  margin-left: 0;
  margin-right: 0;
 }